.vs/
CoMiSzkodzi/CoMiSzkodzi.Android/obj/
CoMiSzkodzi/CoMiSzkodzi.Android/bin/
CoMiSzkodzi/CoMiSzkodzi/bin/
CoMiSzkodzi/CoMiSzkodzi/obj/
CoMiSzkodzi/CoMiSzkodzi.iOS/bin/
CoMiSzkodzi/CoMiSzkodzi.iOS/obj/
