.vs/
CoMiSzkodzi/CoMiSzkodzi.Android/obj/
CoMiSzkodzi/CoMiSzkodzi.Android/bin/
CoMiSzkodzi/CoMiSzkodzi/bin/
CoMiSzkodzi/CoMiSzkodzi/obj/
CoMiSzkodzi/CoMiSzkodzi.iOS/bin/
CoMiSzkodzi/CoMiSzkodzi.iOS/obj/
.vs/CoMiSzkodzi/v15/.suo
.vs/CoMiSzkodzi/v15/Server/sqlite3/storage.ide-shm
CoMiSzkodzi/CoMiSzkodzi.Android/CoMiSzkodzi.Android.csproj.user
CoMiSzkodzi/CoMiSzkodzi.Android/obj/CoMiSzkodzi.Android.csproj.nuget.cache
CoMiSzkodzi/CoMiSzkodzi.Android/obj/CoMiSzkodzi.Android.csproj.nuget.g.props
CoMiSzkodzi/CoMiSzkodzi.Android/obj/project.assets.json
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.dll.mdb
CoMiSzkodzi/CoMiSzkodzi/obj/CoMiSzkodzi.csproj.nuget.cache
CoMiSzkodzi/CoMiSzkodzi/obj/CoMiSzkodzi.csproj.nuget.g.props
CoMiSzkodzi/CoMiSzkodzi/obj/CoMiSzkodzi.csproj.nuget.g.targets
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/App.xaml.g.cs
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.AssemblyInfo.cs
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.csproj.CoreCompileInputs.cache
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.csprojAssemblyReference.cache
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodziBasePage.xaml.g.cs
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/MainPage.xaml.g.cs
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/PodsumujPosilkiPage.xaml.g.cs
CoMiSzkodzi/CoMiSzkodzi/obj/project.assets.json
.vs/CoMiSzkodzi/v15/.suo
*.cache
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.deps.json
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.dll
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.pdb
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.csproj.FileListAbsolute.txt
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.csprojAssemblyReference.cache
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.dll
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.pdb
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.dll
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.dll
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.pdb
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.csproj.FileListAbsolute.txt
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.csprojAssemblyReference.cache
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.dll
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.pdb
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.deps.json
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.dll
CoMiSzkodzi/CoMiSzkodzi/bin/Debug/netstandard2.0/CoMiSzkodzi.pdb
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.dll
CoMiSzkodzi/CoMiSzkodzi/obj/Debug/netstandard2.0/CoMiSzkodzi.pdb
